* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins), sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
