* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  :focus-visible {
    outline: none;
  }
}

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: #ecedf1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}
