.Section {
  margin: 0.6rem 1.4rem;
  padding: 0.2rem;
  display: flex;
  color: white;
  text-decoration: none;
  border: 2px solid #333333;
  border-radius: 0.4rem;
  transition: all ease-in-out 200ms;
}

.Section:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 8px #131313;
  cursor: pointer;
}

.SectionTitle {
  margin: 1.4rem;
  margin-bottom: 0.4rem;
  font-size: larger;
  font-weight: bolder;
}

.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Name {
  width: 25%;
  margin-right: 0.4rem;
  font-style: oblique;
  font-size: larger;
  display: grid;
  place-items: center;
  color: #898989;
  background-color: #2f2f2f;
  border-radius: 0.4rem;
}

.Description {
  width: 75%;
  font-size: medium;
}

.AboutCourse {
  color: #c5c5c5;
  font-size: smaller;
}

.Date {
  color: #a0a0a0;
  font-size: smaller;
}

@media screen and (min-width: 1190px) {
  .Container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 760px) {
  .Certificates {
    flex: 1;
    margin: 2rem;
    margin-top: 0rem;
  }

  .SectionTitle {
    font-size: x-large;
  }
}

@media screen and (max-width: 800px) {
  .Container {
    grid-template-columns: 1fr;
  }

  .Name {
    width: 20rem;
  }
}

@media screen and (max-width: 500px) {
  .Container {
    grid-template-columns: 1fr;
  }

  .Description {
    font-size: small;
  }

  .Name {
    width: 10rem;
  }
}
